<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unexpected error</title>

    <!-- Google Fonts: https://fonts.google.com/noto/specimen/Noto+Sans?category=Sans+Serif,Display&subset=latin&noto.script=Latn -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">

    <!-- Page styling -->
    <style>
        html body {
            background: #fff center;
            font-family: 'Noto Sans', sans-serif;
            text-align: center;
        }
        div.container {
            margin-top: -150px;
        }
    </style>
</head>
<body>
<img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif" alt="">
<div class="container">
    <h1>Internal Error</h1>
    <h2>Well, this is embarrassing, but we could not process the request for some reason. Our team is on it!</h2>
</div>
</body>
</html>
