ingress:
  domain: greenstar.test

server:
  ingress:
    enabled: true
    parentRef:
      kind: Gateway
      name: local
      namespace: ingress
      httpSectionName: web
      httpsSectionName: websecure
  extraEnv:
    OTEL_SDK_DISABLED:
      value: "true"

ratesjob:
  schedule: "0 * * * *"
  extraEnv:
    START_DATE_DURATION:
      value: P19M
    SUPPORTED_CURRENCIES:
      value: "USD,ILS,EUR"

frontend:
  ingress:
    enabled: true
    parentRef:
      kind: Gateway
      name: local
      namespace: ingress
      httpSectionName: web
      httpsSectionName: websecure

postgres:
  extraArgs:
    - -c
    - log_statement=all
  ingress:
    enabled: true
    parentRef:
      kind: Gateway
      name: local
      namespace: ingress
      tlsSectionName: postgres
