.scrapers-page {
  padding: 1em;

  display: grid;
  grid-template:
    "grid" 1fr / 1fr;
  grid-gap: 1em;
  height: 100%;

  .scrapers-container {
    grid-area: grid;
    height: 100%;
    flex-direction: column;

    display: grid;
    grid-template-rows: 1fr;
    min-height: 0;
    overflow: hidden;
  }

  .scrapers-grid-content {
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  .scrapers-grid-content .MuiDataGrid-root {
    height: 100%;
    width: 100%;
  }

  .actions-cell {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

.add-scraper-panel {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;

}
